---
permalink: /posts/
bgColor: bg-teal-800
---
{% extends 'layouts/base.njk' %}

{% block sidebar %}
  <h1>Posts Archive</h1>
{% endblock %}

{% block content %}
  {% set postslist = collections.posts %}
  {% include 'postslist.njk' %}
{% endblock %}