---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
eleventyComputed:
  title: Tagged “{{ tag }}”
permalink: /tags/{{ tag }}/
---
{% extends 'layouts/base.njk' %}

{% block sidebar %}
  <h1>{{ title | widont | safe }}</h1>
{% endblock %}

{% block content %}
  {% set postslist = collections[ tag ] %}
  {% include "postslist.njk" %}

  <p>See <a href="{{ '/tags/' | url }}">all tags</a>.</p>
{% endblock %}