---
permalink: /tags/
---
{% extends 'layouts/base.njk' %}

{% block sidebar %}
  <h1>List of all tags</h1>
{% endblock %}

{% block content %}
  <ul class="list-disc">
    {% for tag in collections.tagList | sort %}
      {% set tagUrl %}/tags/{{ tag }}/{% endset %}
      <li><a href="{{ tagUrl | url }}">{{ tag }}</a> ({{ collections[tag] | length }})</li>
    {% endfor %}
  </ul>
{% endblock %}