---
permalink: /tags/
---
{% extends 'layouts/base.njk' %}

{% block sidebar %}
  <h1>List of all tags</h1>
{% endblock %}

{% block content %}
  {% for tag in collections.tagList %}
    {% set tagUrl %}/tags/{{ tag }}/{% endset %}
    <a href="{{ tagUrl | url }}">{{ tag }}</a>
  {% endfor %}
{% endblock %}